{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE %}
{% block body %}
<div class="offcanvas-wrap">
  <section class="overflow-hidden inverted bg-black">
    <div class="d-flex flex-column min-vh-100 container py-10 level-1">
      <div class="row justify-content-center my-auto">
        <div class="col-lg-8 col-xl-6 text-center">
        {% blocktrans %}
          <h1 class="display-1 lh-sm">MO Ventures changes 
          <span data-typed='{"strings": ["paradigms", "world", "future", "business"]}'></span>
          </h1>
        {% endblocktrans %}
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-6 col-xl-4 text-center">
          <p class="text-secondary">
            {% blocktrans %}
            <a href="#list" class="underline text-white fw-bold">Discover</a> how we achieve 
            {% endblocktrans %}
          </p>
        </div>
      </div>
    </div>
    <div class="background background-overlay" data-aos="zoom-out" data-aos-delay="200">
      <video data-video playsinline autoplay muted loop>
        <source src="{% static 'video/video-1.mp4' %}" type="video/mp4" />
      </video>
    </div>
    <span class="scroll-down"></span>
  </section>
  <!-- features -->
  <section id="list" class="py-15 py-xl-20">
    <div class="container mt-3 mt-xl-5">
      <div class="row mb-10 g-3 g-xl-5 align-items-end">
        <div class="col-lg-8">
          <h1 class="display-1">{% trans "Fundamentals" %}</h1>
        </div>
      </div>
      <div class="col-md-6 col-xl-12">
        <a href="/{% if LANGUAGE == "ko" %}ko/{% endif %}about" class="card card-arrow card-hover-border bg-white">
        <div class="row g-0">
          <div class="col-xl-6">
            <figure class="media equal-16-10" >
              <span style="background-image: url({% static 'images/about.jpeg' %})">
              </span>
            </figure>
          </div>
          <div class="col-xl-6">
            <div class="card-body">
              <span class="eyebrow text-muted">{% trans "About" %}</span>
              <h2 class="card-title mt-2 fs-4 lh-2 pe-xl-10">{% trans "The first step toward greatness is to be honest" %}</h2>
              <h5 class="fw-light fst-italic">{% trans "Proverb" %}</h5>
            </div>
          </div>
        </div>
        </a>
      </div>
      <div class="col-md-6 col-xl-12">
        <a href="/{% if LANGUAGE == "ko" %}ko/{% endif %}people" class="card card-arrow card-hover-border bg-white">
        <div class="row g-0">
          <div class="col-xl-6">
            <figure class="media equal-16-10" >
              <span style="background-image: url({% static 'images/people.jpeg' %})">
              </span>
            </figure>
          </div>
          <div class="col-xl-6">
            <div class="card-body">
              <span class="eyebrow text-muted">{% trans "People" %}</span>
              <h2 class="card-title mt-2 fs-4 lh-2 pe-xl-10">{% trans "Great Things Happen To Great People" %}</h2>
              <h5 class="fw-light fst-italic">{% trans "Anonymous" %}</h5>
            </div>
          </div>
        </div>
        </a>
      </div>
      <div class="col-md-6 col-xl-12">
        <a href="/{% if LANGUAGE == "ko" %}ko/{% endif %}portfolio" class="card card-arrow card-hover-border bg-white">
        <div class="row g-0">
          <div class="col-xl-6">
            <figure class="media equal-16-10" >
              <span style="background-image: url({% static 'images/portfolio.jpeg' %})">
              </span>
            </figure>
          </div>
          <div class="col-xl-6">
            <div class="card-body">
              <span class="eyebrow text-muted">{% trans "Portfolio" %}</span>
              <h2 class="card-title mt-2 fs-4 lh-2 pe-xl-10">{% trans "Be greedy when others are fearful" %}</h2>
              <h5 class="fw-light fst-italic">{% trans "Warren Buffet" %}</h5>
            </div>
          </div>
        </div>
        </a>
      </div>
      <div class="col-md-6 col-xl-12">
        <a href="/{% if LANGUAGE == "ko" %}ko/{% endif %}experience" class="card card-arrow card-hover-border bg-white">
        <div class="row g-0">
          <div class="col-xl-6">
            <figure class="media equal-16-10" >
              <span style="background-image: url({% static 'images/experience.jpeg' %})">
              </span>
            </figure>
          </div>
          <div class="col-xl-6">
            <div class="card-body">
              <span class="eyebrow text-muted">{% trans "Experience" %}</span>
              <h2 class="card-title mt-2 fs-4 lh-2 pe-xl-10">{% trans "The only source of knowledge is experience" %}</h2>
              <h5 class="fw-light fst-italic">{% trans "Albert Einstein" %}</h5>
            </div>
          </div>
        </div>
        </a>
      </div>
      {% comment %}
      <div class="row mt-5 g-4 g-xl-6">
        <div class="col-lg-6 aos-init aos-animate" data-aos="fade-up">
          <a href="" class="card h-100 border card-arrow">
            <div class="card-body">
              <h4 class="card-title fw-light fs-4">
                {% blocktrans %}
                <span class="fw-bold">엠오벤처스</span>와 함께 일하고 싶어요
                {% endblocktrans %}
              </h4>
            </div>
          </a>
        </div>
        <div class="col-lg-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
          <a href="" class="card card-arrow bg-primary inverted overflow-hidden">
            <div class="card-body">
              <h4 class="card-title fw-light fs-4">
                {% blocktrans %}
                <span class="fw-bold">투자</span>를 받고 싶어요
                {% endblocktrans %}
              </h4>
            </div>
            <img class="position-absolute top-50 start-50 translate-middle level-3" src="{% static 'images/svg/dialog.svg' %}" alt="">
          </a>
        </div>
      </div>
      {% endcomment %}
    </div>
</div>
</section>
{% endblock body %}