{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}


{% block style %}
<style>
@media only screen and (max-width: 992px) {
  #menu {
    color: white !important;
  }
  .nav-icon {
    color: blue !important;
  }
}
</style>
{% endblock style %}

{% block body %}
<section class="py-15 py-xl-20 border-top">
  <div class="container mt-10">
    <div class="row justify-content-center mb-10">
      <div class="col-lg-8 text-center">
        <h1 class="mb-2">{% trans "Hurray!" %}</h1>
 
        <p class="fs-lg text-secondary">
        {% blocktrans %}
        Thank you for getting in touch! We will contact you shortly.
        {% endblocktrans %}
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock body %}