{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block style %}
<style>
#modal-text {
  line-height: 2;
}

@media only screen and (max-width: 992px) {
  #menu {
    color: white !important;
  }
  .nav-icon {
    color: blue !important;
  }
}

@media (min-width:992px) {
  .modal-content {
    height: 70vh;
  }
  #profile_pics {
    padding: 1rem !important;
  }
  #modalLabel {
    padding-top: 2rem !important;
  }
  #modal-text {
    overflow: auto;
  }
  #modal-image {
    height: 100%;
  }
}

@media (max-width: 992px) {
  #modal-inside {
    overflow: auto;
  }
  #modal-image {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }
}
</style>
{% endblock style %}

{% block body %}
<div class="offcanvas-wrap">
<section class="pt-15 pt-xl-20 pb-10 pb-xl-15 bg-light overflow-hidden border-bottom">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-8">
        <h2>{% trans "Our People" %}</h2>
      </div>
    </div>
    <div class="mb-5 col-12">
      <nav aria-label="breadcrumb" class="mt-2">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active"><a href="#" data-filter="*" data-target="#grid1">{% trans "All" %}</a></li>
          <li class="breadcrumb-item"><a href="#" data-filter=".Leadership" data-target="#grid1">{% trans "Leadership" %}</a></li>
          <li class="breadcrumb-item"><a href="#" data-filter=".VC" data-target="#grid1">VC</a></li>
          <li class="breadcrumb-item"><a href="#" data-filter=".PE" data-target="#grid1">PE</a></li>
          <li class="breadcrumb-item"><a href="#" data-filter=".Management" data-target="#grid1">{% trans "Management" %}</a></li>
        </ol>
      </nav>
    </div>
    <div class="row g-3 g-xl-5" id="grid1" data-isotope>
    {% for p in people %}
      <div class="col-6 col-md-4 col-lg-3 {{ p.sector }} {{ p.sector2 }}" data-bs-toggle="modal" data-bs-target="#peopleModal-{{ p.id }}" style="cursor: pointer;">
        <div class="card">
          <div class="equal-1-1 mb-2 card-hover-border">
            <figure class="background" style="background-image: url({{ p.photo.url }});">
            </figure>
          </div>
          <h4 class="card-title">{{ p.name }}</h4>
          <span class="text-secondary">{{ p.position }}</span>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
</section>

<div class="offcanvas-wrap">
<section class="py-10 py-xl-15 bg-light overflow-hidden">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-8">
        <h2>{% trans "Our Advisory Board" %}</h2>
      </div>
    </div>
    <div class="row g-3 g-xl-5" id="grid1" data-isotope>
    {% for p in advisory_board %}
      <div class="col-6 col-md-4 col-lg-3 {{ p.sector }} {{ p.sector2 }}" data-bs-toggle="modal" data-bs-target="#peopleModal-{{ p.id }}" style="cursor: pointer;">
        <div class="card">
          <div class="equal-1-1 mb-2 card-hover-border">
            <figure class="background" style="background-image: url({{ p.photo.url }});">
            </figure>
          </div>
          <h4 class="card-title">{{ p.name }}</h4>
          <span class="text-secondary">{{ p.position }}</span>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
</section>

{% for p in object_list %}
<div class="modal fade" id="peopleModal-{{ p.id }}" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-xl modal-dialog modal-dialog-centered modal-fullscreen-lg-down" id="modal-frame">
    <div class="modal-content">
      <button type="button" class="bi bi-x modal-close btn-close text-black" data-bs-dismiss="modal"
        aria-label="Close"></button>
      <div id="modal-inside" class="row h-100 modal-body">
        <div id="modal-image" class="col-lg-6 d-flex align-items-center justify-content-center">
          <img id="profile_pics" class="w-auto h-auto mw-100 mh-100 img-fluid" src="{{ p.photo.url }}">
        </div>
        <div id="modal-text" class="h-100 col-lg-6">
          <h3 id="modalLabel">{{ p.name }}</h3>
          <p id="modalDescription">
          {% autoescape off %}
          {{ p.description }}
          {% endautoescape %}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}

{% block javascript %}
<script>
$(document).on("click", ".breadcrumb li", function(){
  if (!$(this).hasClass("active")) {
    $("li.active").removeClass("active");
    $(this).addClass("active");
  }
});
</script>
{% endblock javascript %}